html {
  min-height: 100%;
}
body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #413c69;
}
h1 {
  margin: 30px auto;
  font-size: 22px;
}
h2 {
  margin: 40px auto;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  color: #7c91ca;
}
h3 {
  margin-bottom: 15px;
  font-size: 22px;
}
p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #908f94;
}
a {
  color: #7c91ca;
}
a:hover {
  color: #413c69;
}

.container {
  padding: 50px 50px;
  margin-top: 30px;
  max-width: 900px;
  background-color: #ffffff;
}
.city-selector {
  margin: 50px auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.label {
  font-size: 16px;
  color: #908f94;
  margin-right: 10px;
}
.city-field {
  font-size: 14px;
  color: #413c69;
  padding: 5px 40px 5px 8px;
  margin: 5px 3px;
  border: solid 1px #b3b1b9;
}
.city-field::placeholder {
  font-size: 13px;
  font-style: italic;
  color: #b3b1b9;
}
.submit-button {
  font-size: 14px;
  margin: 5px 0;
  padding: 6px 15px;
  background-color: #413c69;
  color: #ffffff;
  border: none;
  transition: all 150ms ease-in-out;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #413c69b4;
}

.current-location-selector {
  font-size: 16px;
  color: #908f94;
  margin: 0 15px;
}
.card {
  display: block;
  margin: 0 auto 40px;
}
.card-body {
  text-align: center;
  padding: 19px;
}
.today-date {
  font-size: 14px;
  font-weight: 500;
}
.today-icon {
  height: 90px;
}
#today-temperature {
  font-size: 25px;
  font-weight: 800;
  color: #413c69;
}
#celsius,
#farenheit {
  font-size: 14px;
  font-weight: 400;
}

.active {
  color: #413c69;
  text-decoration: none;
}
.active:hover {
  color: #413c69;
  cursor: default;
}

.today-weather {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
  color: #413c69;
}
.today-details {
  font-size: 14px;
}
.list-group-item {
  padding: 7px 16px;
}
.next-days-icon {
  height: 25px;
  margin: 0 auto;
}
.next-days {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding-left: 10px;
}
.next-days-temperature {
  font-size: 13px;
  line-height: 2.3;
}
.mention {
  margin: 30px auto;
  text-align: center;
  font-size: 12px;
}
